.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:;
  font-family: "Segoe UI", sans-serif;
}

/* Card */
.auth-card {
  width: 420px;
  background: white;
  padding: 50px 40px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.auth-card h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  color:;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  color:;
}

/* Inputs */
.auth-input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  transition: 0.2s ease;
}

.auth-input:focus {
  border-color: ;
  box-shadow: 0 0 0 2px rgba(15, 106, 106, 0.15);
}

/* Button */
.auth-btn {
  width: 100%;
  padding: 12px;
  background: #0f6a6a;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

.auth-btn:hover {
  background: #095454;
}

/* Footer */
.auth-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.auth-footer a {
  color:;
  text-decoration: none;
  font-weight: 500;
}

.auth-footer a:hover {
  text-decoration: underline;
}